.text-center{
	font-weight: bold;
	text-align: center;
	font-size: 30px;

}

#results{
	padding: 20px;
	align-content: center;
	text-align: center;
 }

.containerquestions{
	align-content: center;
 	background-color: #cddc39;
 }

.Tally{
	padding-left: 40px;
	display: none;
	text-align: center;
}

li{
	list-style-type: none;
	
}

#quiz{
	text-align: center;
	font-size: 25px;


}

h1{

}

.jumbotron {
	background-color: #9ccc65;
	width: 500px;
	align-content: center;
}

 html {
 	background-color: #cddc39;
 }

 .question {
 	font:;
 }